doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascripts/dropzone.js')
    style.
      .active {
        background: #999;
        color: #f6f6f6;
      }
      .inactive {
        background-color: #fff;
        color: ##4d4d4d;
      }
  body
    block content
