doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascripts/dropzone.js')
    style(rel='stylesheet', href='/stylesheets/dropzone.css')
    script(type='text/javascript' src='/javascripts/rasacms.js')
    style.
      .active {
        background-color: #999 !important;
        color: #f6f6f6 !important;
      }
      .inactive {
        background-color: #fff !important;
        color: ##4d4d4d !important;
      }
      .zone_form {
        display: inline-block;
        background-color: #727476;
        border-radius: 0.3rem;
        margin: auto;
        position: relative;
        border: 1px solid orange;
        width: 24em; height: 26em;
      }

    script.
      Dropzone.autoDiscover = false;

  body
    block content
