doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascripts/dropzone.js')
    style(rel='stylesheet', href='/stylesheets/dropzone.css')
    script(type='text/javascript' src='/javascripts/rasacms.js')
    style.
      .active {
        background-color: #999 !important;
        color: #f6f6f6 !important;
      }
      .inactive {
        background-color: #fff !important;
        color: ##4d4d4d !important;
      }
      .zone_form {
        display: inline-block;
        margin: auto;
        position: relative;
        border: 2px dashed;
        width: 24rem;
        height: 24rem;
      }
      .upload_rel {
        font-size: 1.4rem;
        font-weight: 400;
        background-color: #006aa7 !important;
        color: #a5cae0 !important;
        padding: 1rem;
        border-radius: 0.3rem !important;
        cursor: pointer;
        transition: background-color 150ms;
      }
      .upload_rel:hover {
        background-color: #005485 !important;
      }

    script.
      Dropzone.autoDiscover = false;

  body
    block content
